:root {
  --hoverColor: #c7ba7165;
  --cellColor: #eee6b865;
  --notification-background: #313e2c;
  --notification-primary: #aaec8a;

}

::selection {
  background-color: #bdaa7b8b;
  color: #eee6b8;
}

body {
  box-sizing: border-box;
  margin-top: 15px;
  background-color: #5c44179a;
  font-family: 'Alef';
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: #4a3a07bd;
}

table {
  margin: auto;
  width: 750px;
  height: 80px;
  text-align: center;
  border: solid rgb(29, 28, 28) 4px;
}

table,
td {
  border-collapse: collapse;
  padding: 10;
  height: 80px;
  
}

tbody{
  box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.308);
  cursor: crosshair;
}


td {
  border: solid rgb(44, 16, 4) 2px;
}

.coloreado {
  background-color: var(--cellColor);
}

input.inputCasilla {
  width: 133.5%;
  height: 133.5%;
  margin-left: -10px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-text-stroke: 2px black;
  color: #c8bda1;
  font-size: 40;
  font-family: 'Alef';
  text-align: center;
  cursor: default;
  cursor: crosshair;
}

input.inputCasilla:focus {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.267);
  width: 133.5%;
  height: 133.5%;
  margin-left: -10px;
  background-color: #c7ba71bc;
}

.limitador {
  border-right: solid rgb(29, 28, 28) 4px;
}

.limitadorFilas {
  border-bottom: solid rgb(29, 28, 28) 4px;
}

section div {
  display: flex;
  flex-direction: column;
  margin-top: -5px;
}

h1{
  gap: 30px;
  margin-left: 25px;
  user-select: none;
}

@media only screen and (max-width: 768px) {
  table {
    min-width: 650px;
  }
}



/* Patrón de fondo */
#Pattern {
  background-image: url("img/pattern-louis-vuitton.png");
  background-repeat: repeat;
  background-size: 40%;
}

/* Columnas y filas marcadas (cruz) */
.hover-row {
  background-color: #c7ba7165;
  border-right: solid #AC9A63 2px;
  
}

.hover-column {
  background-color: #c7ba7165;
  border-bottom: solid #AC9A63 2px;
}

.hover-border-replace {
  border-right: solid rgb(29, 28, 28) 4px;
}

.hover-row-default {
  background-color: #c7ba7100;
  border-right: solid rgb(44, 16, 4) 2px;
  
}

.hover-column-default {
  background-color: #c7ba7100;
  border-bottom: solid rgb(44, 16, 4) 2px;
  
}

.hover-row-default-color {
  background-color: var(--cellColor);
  border-right: solid rgb(44, 16, 4) 2px;
  
}

.hover-column-default-color {
  background-color: var(--cellColor);
  border-bottom: solid rgb(44, 16, 4) 2px;
  
}

.hover-equal input {
  background-color: #c7ba7165;
  box-shadow: 0px 0px 36px -2px #fff6c3da inset;
-webkit-box-shadow: 0px 0px 36px -2px #fff6c3da inset;
-moz-box-shadow: 0px 0px 36px -2px #fff6c3da inset;
}


/* Ajustes --> Contenedor row junto sudoku */

.gap{
  width: 293px;
  /*background-color: blue;*/
}

.ajustesFlex{
    display: flex;
    flex-direction: row;
    /*background-color: green;*/
    height: 100px; 
    
}

.ajustes {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 40px;
    height: 48%;
    /*background-color: purple;*/
    top: 115px;
    left: 330px;
    cursor: default;
    user-select: none;
    
}

.menu{
  display: none;
  position: absolute;
  top: 110%;
  right: 0px;
  flex-direction: column;
  gap: 15px;
}

.menu.active {
  display: flex;
}







/* ICONOS IMAGENES */

.img {
  width: 35px;
  height: 35px;
  margin-top: 0.5px;
  -webkit-user-drag: none;

  

}

.img2 {
  width: 62px;
  height: 62px;
  -webkit-user-drag: none;
}

.img3 {
  width: 35px;
  height: 35px;
  -webkit-user-drag: none;
}

.img4 {
  width: 25px;
  height: 25px;
  -webkit-user-drag: none;
}

#settings{
  margin-left: 9px;
}

.button{
    display: flex;
    flex-direction: row;
    padding: 2px;
    position: relative;
    width: 33px;
    height: 32px;
    border: solid 2px rgb(29, 28, 28);
    border-radius: 10px;
    cursor: pointer;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    transition: border-color 0.5s;
    
}

.button2{
  display: flex;
  flex-direction: row;
  padding: 2px;
  position: relative;
  width: 60px;
  height: 60px;
  border: solid 2px rgb(29, 28, 28);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s,  background-color 0.5s ease-in-out;
  background-color: #6a5c4d00;

}

.button2:hover{
  background-color: #6a5c4d80;

}


.buttonCargar{
  display: flex;
  flex-direction: row;
  padding: 2px;
  position: relative;
  width: 33px;
  height: 33px;
  border: solid 2px #1d1c1c;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s ease-in-out,  background-color 0.5s ease-in-out;
  background-color: #6a5c4d00;
  margin-top: -29px;
  margin-left: 5px;

}

.buttonCargar:hover{
  background-color: #6a5c4d80;

}


.buttonGuardar{
  display: flex;
  flex-direction: row;
  padding: 2px;
  position: relative;
  width: 33px;
  height: 33px;
  border: solid 2px #1d1c1c;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: border-color 0.5s ease-in-out,  background-color 0.5s ease-in-out;
  background-color: #6a5c4d00;
  margin-top: -29px;
  margin-left: -10px;

}

.buttonGuardar:hover{
  background-color: #6a5c4d80;

}




.codigoPartida{
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: relative;
  width: 380px;
  height: 40px;
  border: solid 2px rgb(29, 28, 28);
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #6a5c4d00;
  transition: opacity 0.5s ease-in-out, border-color 0.5s ease-in-out;
  margin-top: -30px;
  margin-left: -10px;
  color: black;
  padding-right:45px;
}

.codigoPartida:focus{
  outline: none;
  border: solid 2px rgb(29, 28, 28);
}

.buttonCopiar{
  display: flex;
  flex-direction: row;
  padding: 2px;
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  justify-content: center;
  align-items: center;
  background-color: #968A72;
  transition: opacity 0.5s ease-in-out;
  margin-top: -30px;
  margin-left: 540px;
}

.buttonCopiar:hover{
  background-color: #bdaa7b;
}

#botonCheckear, #botonLimpiar, #botonRestart{
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.208);
  
}

#botonLimpiar {
  transition: border-color 0.5s ease-in-out, background-color 0.3s ease-in-out;


}

#clean{
  z-index: 10;
}

#cleanGif{
  position: absolute;
  display: none;
  transition: opacity 1s ease-in-out;
}

#cleanHov{
  position: absolute;
  display: none;
  transition: opacity 1s ease-in-out;
}


#botonRestart {
  margin-left: -5px;
  transition: border-color 0.5s ease-in-out,  background-color 0.3s ease-in-out;

}

#restartLight, #restartShadow {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

#restartLight {
  display: none;
}

#restartShadow {
  display: block;
}

#botonCheckear {
  margin-left: -1px;
  transition: opacity 0.5s ease-in-out, border-color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

#checkearLight {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  display: none;
}

#checkearShadow {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  display: block;
}

#botonGuardar {
  transition: border-color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

#guardartLight, #guardarShadow {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

#guardarLight {
  display: none;
}

#guardarShadow {
  display: block;
}

#botonCargar {
  transition: border-color 0.5s ease-in-out, background-color 0.3s ease-in-out;
}

#cargartLight, #cargarShadow {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

#cargartLight {
  display: none;
}

#cargarShadow {
  display: block;
}

#codigoPartida{
  color: rgb(29, 28, 28);
  font-weight: bold;
  transition: opacity 0.5s ease-in-out,  border-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#botonCopiar {
  z-index: 2;
  transition: border-color 0.5s ease-in-out, opacity 0.5s ease-in-out,  background-color 0.3s ease-in-out;
}

#copiarLight, #copiarShadow {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

#copiarLight {
  display: none;
}

#copiarShadow {
  display: block;
}

#textoCopiado{
  -webkit-user-drag: none;
  position: absolute;
  z-index: 1;
  width: 120px;
  margin-top: -90px;
  margin-left: 540px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}



#botonAjustes {
  width: 35px;
}


#botonAjustesLight {
  position: absolute;
  visibility: visible;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  
}

#botonAjustesShadow{
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}




#colorAreaLight, #colorAreaShadow {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

#colorAreaLight {
  background-image: url('img/colorArea_light.png');
  background-size: cover;
  background-position: center;
}

#colorAreaShadow {
  background-image: url('img/colorArea_shadow.png');
  background-size: cover;
  background-position: center;
}





#botonEquals {
  width: 35px;
}

#equalsLight {
  position: absolute;
  display: none;
  transition: opacity 0.5s ease-in-out;
  
}

#equalsShadow{
  transition: opacity 0.5s ease-in-out;
}




#botonCross {
  width: 35px;
}

#crossLight {
  position: absolute;
  display: none;
  transition: opacity 0.5s ease-in-out;
  
}

#crossShadow{
  transition: opacity 0.5s ease-in-out;
}


.cajaErrores {
  display: none;
  position: fixed;
  flex-direction: column;
  gap: 15px;
  width: 360px;
  min-height: 200px;
  max-width: 360px;
  padding: 30px;
  background-color: #b4a987cb;
  border: double 7px rgba(29, 28, 28, 0.344);
  border-radius: 20px;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.12), 0px 0px 20px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  -webkit-text-stroke: 0.5px #453c33;
  cursor: default;
  left: calc(50vw + 450px);
  top: 102px;
  z-index: 100;
}




.cajaErrores div{
  margin-left: 10px;
}

.cajaErrores div:not(:first-child){
  margin-top: 20px;
}

.imagenError{
  width: 18px;
  height: 17px;
  margin-top: -44px;
  margin-left: 130px;
  position: absolute;
  box-shadow: inset 0 0 0 1px red, 1px 1px 5px #312e26a6;
  border-radius: 18px;
  z-index: 18;
}

.imagenErrorHitbox{
  width: 18px;
  height: 17px;
  margin-top: -76.5px;
  margin-left: 237.5px;
  position: absolute;
  border-radius: 18px;
  z-index: 20;
}

.tituloError {
  margin-top: 20px;
  margin-left: 125px;
  height: 30px;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(238, 44, 44, 0.89);
  color: red;
}

.subrayado {
  text-decoration: underline;
  text-decoration-color: red;
}

.barraDraggable {
  position: absolute;
  margin-left: -30px;
  margin-top: -30px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 420px;
  height: 30px;
  background-color: #6d6651f1;
  z-index: 17;
}

.barraDraggableShadow {
  position: absolute;
  margin-left: -30px;
  margin-top: -30px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  width: 420px;
  height: 30px;
  box-shadow: inset 3px -3px 10px 8px rgba(0,0,0,0.35);
  z-index: 19;
}


.botonesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 20px;
  margin-top: 20px;
  user-select: none;
  
}


.checkError{
  box-shadow: inset 0px 0px 10px 1px red;
}

.checkEmpty{
  box-shadow: inset 0px 0px 10px 1px green;
}

.grupoSeleccionado {
  background-color: #c7ba7165;
}

.backgroundFijo{
  background-image: url("img/marco.png");
  background-position: 82.75px 78px;
  background-size: 85px 80px;
}

.tooltip-text {
  position: absolute;
  background-color: rgb(29, 28, 28); 
  color: #BCAA81; 
  padding: 3px;
  border-radius: 7px;
  border: 1px solid #BCAA81;
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.5s ease; 
  pointer-events: none; 
  box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.3);

}


/*Notificación*/

.notification {
  position: fixed; /* Cambiado de absolute a fixed para no desplazar otros elementos */
  width: max-content;
  left: 50%;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  background-color: var(--notification-background);
  color: var(--notification-primary);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%) translateY(1.875rem); /* Centrar y preparar para animación */
  opacity: 0;
  visibility: hidden; /* Asegurarse de que empiece invisible */
  transition: opacity 0.5s, transform 0.5s; /* Suavizar la transición de visibilidad y movimiento */
  z-index: 100;
}

.notificationR {
  position: fixed; /* Cambiado de absolute a fixed para no desplazar otros elementos */
  width: max-content;
  left: 50%;
  bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  background-color: #3e2c2c;
  color: #ec8a8a;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%) translateY(1.875rem); /* Centrar y preparar para animación */
  opacity: 0;
  visibility: hidden; /* Asegurarse de que empiece invisible */
  transition: opacity 0.5s, transform 0.5s; /* Suavizar la transición de visibilidad y movimiento */
  z-index: 100;
}


.notification__icon {
  height: 1.625rem;
  width: 1.625rem;
  margin-right: 0.25rem;
}

.notification__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}

.notification__progress {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
      to right, 
      var(--notification-background),  
      var(--notification-primary)
  );
  border-radius: inherit;
}

.notification__progressR {
  position: absolute;
  left: 0.25rem;
  bottom: 0.25rem;
  width: calc(100% - 0.5rem);
  height: 0.2rem;
  transform: scaleX(0);
  transform-origin: left;
  background: linear-gradient(
      to right, 
      #3e2c2c,  
      #ec8a8a
  );
  border-radius: inherit;
}

@keyframes fade-in {
  5% {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }
  95% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes progress {
  to {
      transform: scaleX(1);
  }
}